{% extends "medicos/index.html" %}

{% block titulo %} <title>Hospital - Medicos</title> {% endblock %}

{% block estilos %}
    <style>
        body {
            background-color: #2f3640;
            color: white;
        }

        .navbar-custom {
            background-color: #1e3799;
        }

        .nav-link {
            color: white !important;
        }

        .nav-link:hover {
            color: #74b9ff !important;
        }

        .table-custom {
            background-color: #353b48;
            color: white;
        }

        .table thead {
            background-color: #1e3799;
        }

        .table-hover tbody tr:hover {
            background-color: #40739e;
        }
    </style>
{% endblock %}

{% block cartas %} {% endblock %}

{% block contenido %}
    <div class="container">

        <h1 class="titulo">Listado de Médicos</h1>
        <div class="container mt-5">

        <div class="card p-4">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4 gap-3">
                <h2 class="fw-bold mb-0">Médicos</h2>
            <div class="d-flex gap-2">
                <form class="d-flex" role="search">
                    <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre..." value="{{ request.GET.nombre }}">
                </form>
            <a href="{% url 'crear_medico' %}" class="btn btn-primary"> + Nuevo Medico</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-custom table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>

                    {% for medico in lista_medicos %}
                    <tr>
                        <td>{{ medico.nombre }}</td>
                        <td>{{ medico.apellido }}</td>
                        <td>{{ medico.get_especialidad_display }}</td>
                        <td>
                            <a href="{% url 'ver_medico' medico.code %}" class="btn btn-warning">Ver</a>
                            <a href="{% url 'editar_medico' medico.code %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'consulta_eliminar_medico' medico.code %}" class="btn btn-secondary">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="sin-registros">
                            No hay médicos registrados.
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>

    </div>
{% endblock %}
